nav, .header nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(26, 107, 26);
  padding: 10px;
}
nav .logoCazador {
  height: 80px;
  width: 80px;
  margin: 5px 0;
  border-radius: 20px;
}
nav .divContainer {
  padding: 0%;
  display: flex;
  align-items: center;
  margin-top: 10px;
}
nav .divContainer li {
  list-style-type: none;
  margin: 0px 5px;
}
nav .divContainer li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: large;
}
nav .divContainer li a:hover, nav .divContainer li a:active {
  font-size: 120%;
  color: aliceblue;
}

.contacto .contenedor-cont h1, .contacto .contenedor-cont h2 {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  background-color: rgba(26, 107, 26, 0.692);
  border-radius: 20px;
  padding: 10px;
  color: rgb(255, 255, 255);
  text-align: center;
}

footer .contenedor-footer {
  display: flex;
  justify-content: space-around;
  background-color: rgb(26, 107, 26);
  padding: 0;
}
footer .contenedor-footer .content-foo {
  margin-bottom: 100px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .contenedor-footer .content-foo ul {
  display: flex;
  flex-direction: row;
}
footer .contenedor-footer .content-foo ul li {
  list-style-type: none;
  margin-left: 10px;
}
footer .contenedor-footer .content-foo ul li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: large;
}
footer .contenedor-footer .content-foo ul li a:hover, footer .contenedor-footer .content-foo ul li a:active {
  font-size: 120%;
  color: aliceblue;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  width: 100%;
  height: 100vh;
  background-image: url(../img/img1.jpg);
  background-size: cover;
}
.header .textos-header {
  display: flex;
  flex-direction: column;
  height: 430px;
  width: 100%;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.header .titulo {
  color: rgb(255, 255, 255);
  font-size: 50px;
  text-shadow: 0px 1px 10px rgba(0, 0, 0, 0.795);
  text-align: center;
  margin-bottom: 60px;
}
.header .titulo2 {
  color: rgb(255, 255, 255);
  font-size: 50px;
  text-shadow: 0px 1px 10px rgba(0, 0, 0, 0.795);
  text-align: center;
  position: relative;
  top: 30px;
}
.header .wave-container {
  position: relative;
  width: 100%;
  height: 100px;
  top: 305px;
  background-color: rgba(26, 107, 26, 0);
  overflow: hidden;
}
.header .wave-container .wave {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 100px;
  background-image: url(../img/wave.png);
  background-size: 1000px 100px;
  animation: wave 20s linear infinite;
  overflow: hidden;
}
@keyframes wave {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1000px;
  }
}

main {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.418);
}
main .contenedor-home {
  display: flex;
  align-items: center;
  background-color: rgba(26, 107, 26, 0.575);
  margin-bottom: 70px;
  border-radius: 50px;
  margin-top: 100px;
}
main .contenedor-home img {
  height: 400px;
  width: 400px;
  margin: 10px;
  border: 2px solid;
  border-radius: 50%;
}
main .contenedor-home .titulo-home {
  color: rgb(255, 255, 255);
  text-align: center;
}
main .contenedor-home p {
  display: flex;
  justify-self: center;
  align-items: center;
  padding: 20px;
  margin-right: 20px;
  text-align: center;
}
main .proximo #carouselExampleCaptions {
  padding: 30px;
  background-color: rgba(26, 107, 26, 0.411);
  width: 100%;
  border-radius: 50px;
}
main .proximo #carouselExampleCaptions .titulo-prox {
  display: flex;
  justify-content: center;
  margin-top: 0px;
  border-radius: 20px;
  padding: 10px;
  color: rgb(255, 255, 255);
}
main .proximo #carouselExampleCaptions .img-prox {
  width: 100%;
  border-radius: 50px;
  margin-bottom: 60px;
}
main .contenedor-prod .titulo-prod {
  color: rgb(255, 255, 255);
  font-size: 30px;
  text-align: center;
  margin-top: 70px;
  background-color: rgba(26, 107, 26, 0.692);
  border-radius: 300px;
  padding: 30px;
}
main .contenedor-prod .merch {
  display: flex;
  justify-content: space-evenly;
  margin: 300px 0px;
}
main .contenedor-prod .merch h4 {
  color: rgb(13, 133, 13);
  font-weight: lighter;
  font-size: large;
}
main .contenedor-prod .merch h4:hover, main .contenedor-prod .merch h4:active {
  font-size: 130%;
}
main .contenedor-prod .merch a {
  text-decoration: none;
}

footer .contenedor-footer {
  display: flex;
  justify-content: space-around;
  background-color: rgb(26, 107, 26);
  padding: 0;
}
footer .contenedor-footer .content-foo {
  margin-bottom: 100px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .contenedor-footer .content-foo ul {
  display: flex;
  flex-direction: row;
}
footer .contenedor-footer .content-foo ul li {
  list-style-type: none;
  margin-left: 10px;
}
footer .contenedor-footer .content-foo ul li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: large;
}
footer .contenedor-footer .content-foo ul li a:hover, footer .contenedor-footer .content-foo ul li a:active {
  font-size: 120%;
  color: aliceblue;
}

.contenedor-quien {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(234, 250, 215, 0.596);
}
.contenedor-quien img {
  height: auto;
  width: auto;
  max-width: 800px;
  max-height: 800px;
  margin-top: 100px;
  margin-bottom: 20px;
  border-radius: 20px;
}
.contenedor-quien .contenido-texto {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 50px;
}
.contenedor-quien .contenido-texto h1 {
  font-weight: 700;
  font-size: 200%;
}
.contenedor-quien .contenido-texto p {
  margin: 60px 150px;
  text-align: center;
  font-size: larger;
}
.contenedor-quien .contenido-texto a {
  color: aliceblue;
  text-decoration: none;
}

.contenedor-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 40px;
  text-align: center;
  align-items: center;
}
.contenedor-info h2 {
  font-weight: 700;
  font-size: 200%;
}
.contenedor-info p {
  margin: 60px 150px;
  text-align: center;
  font-size: larger;
}

.contenedor-redes {
  margin: 20px;
  display: flex;
}
.contenedor-redes h3 {
  font-weight: 600;
  font-size: 200%;
}

.viajes .contenedor h1 {
  color: rgb(255, 255, 255);
  font-size: 30px;
  text-align: center;
  margin: 50px 0px;
  background-color: rgba(26, 107, 26, 0.692);
  border-radius: 300px;
  padding: 30px;
}
.viajes .contenedor #carouselExampleFade {
  padding: 30px;
  background-color: rgba(26, 107, 26, 0.411);
  width: 100%;
  border-radius: 50px;
  margin-bottom: 60px;
}
.viajes .contenedor #carouselExampleFade img {
  width: 100%;
  height: 950px;
  border-radius: 50px;
  padding: 30px;
}

.contenedor-prod h1 {
  color: rgb(255, 255, 255);
  font-size: 30px;
  text-align: center;
  margin-top: 70px;
  background-color: rgba(26, 107, 26, 0.692);
  border-radius: 300px;
  padding: 30px;
}
.contenedor-prod .merch {
  display: flex;
  justify-content: space-evenly;
}
.contenedor-prod .merch h4 {
  color: rgb(13, 133, 13);
  text-decoration: none;
  font-weight: lighter;
  font-size: large;
}
.contenedor-prod .merch h4:hover, .contenedor-prod .merch h4:active {
  font-size: 100%;
}

.contacto .contacto2 img {
  height: 700px;
  width: 100%;
}
.contacto .contenedor-cont {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 30px 0px;
}
.contacto .contenedor-form {
  display: flex;
  flex-wrap: wrap;
  margin: 100px;
  padding: 20px;
  background-color: rgba(5, 99, 21, 0.37);
  border-radius: 30px;
}
.contacto .contenedor-form .formulario {
  margin: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.contacto .contenedor-form .formulario .iconos {
  display: flex;
  height: 30px;
  width: 30px;
  margin: 10px 40px;
}
.contacto .contenedor-form .formulario input {
  border: none;
  border-bottom: 2px solid;
  background-color: rgba(5, 99, 21, 0);
  object-fit: cover;
}

@media screen and (max-width: 576px) {
  .header nav {
    flex-direction: column;
    padding: 30px;
  }
  .header nav ul {
    display: flex;
    flex-direction: column;
    margin: 5px;
  }
  .header nav ul li {
    margin: 0px;
  }
  .header .textos-header {
    display: flex;
    justify-content: center;
  }
  .header .textos-header h1 {
    margin: 0px;
  }
  .header .textos-header .titulo2 {
    color: rgb(255, 255, 255);
    font-size: 40px;
    text-shadow: 0px 1px 10px rgba(0, 0, 0, 0.795);
    text-align: center;
  }
  .header .wave-container {
    display: none;
  }
  .contenedor-home {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 50px;
    padding: 0px 10px;
  }
  .contenedor-home img {
    align-self: center;
    border-radius: 50%;
    margin-top: 50px;
    margin-right: 10px;
    padding: 0px;
  }
  .contenedor-home .titulo-home {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  .contenedor-home .titulo-home p {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contenedor-prod {
    display: flex;
    flex-direction: column;
    margin: 10px;
  }
  .contenedor-prod .merch {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0px;
  }
  .contenedor-prod .merch h4 {
    margin-bottom: 10px;
  }
  .contenedor-prod .merch a {
    text-decoration: none;
  }
  footer .contenedor-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(26, 107, 26);
    margin: 0px;
  }
  footer .contenedor-footer h4 {
    margin-top: 30px;
  }
  footer .contenedor-footer .content-foo {
    display: flex;
    flex-direction: column;
    margin: 0px;
    align-items: center;
  }
  footer .contenedor-footer .content-foo ul {
    flex-direction: column;
    align-items: center;
    padding-left: 0px;
  }
  nav {
    flex-direction: column;
    padding: 30px;
  }
  nav ul {
    display: flex;
    flex-direction: column;
    margin: 5px;
  }
  nav ul li {
    margin: 0px;
  }
  .contenedor-quien img {
    width: auto;
    height: auto;
    max-width: 400px;
    max-height: 500px;
    margin-top: 100px;
  }
  .contenedor-quien .contenido-texto {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 50px;
  }
  .contenedor-quien .contenido-texto p {
    margin: 60px 0px;
  }
  .contenedor-quien .contenedor-info p {
    margin: 60px 0px;
  }
  .viajes .contenedor img {
    width: auto;
    height: auto;
    max-width: 700px;
    max-height: 500px;
  }
}
@media screen and (max-width: 768px) {
  header {
    width: auto;
    height: auto;
    max-width: 768px;
    max-height: 700px;
  }
  header nav {
    flex-direction: column;
  }
  header nav ul li {
    margin: 0px 5px;
  }
  header .wave-container {
    display: none;
  }
  .contenedor-home {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 50px;
    padding: 0px 10px;
  }
  .contenedor-home img {
    align-self: center;
    border-radius: 50%;
    margin-top: 50px;
    margin-right: 10px;
    padding: 0px;
  }
  .contenedor-home .titulo-home {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  .contenedor-home .titulo-home p {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contenedor-prod {
    flex-wrap: wrap;
  }
  .contenedor-prod .merch {
    display: flex;
    margin: 100px 0px;
    text-decoration: none;
  }
  .contenedor-prod .merch a {
    text-decoration: none;
  }
  footer .contenedor-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
  }
  footer .contenedor-footer .content-foo {
    margin: 10px 0px;
  }
  footer .contenedor-footer .content-foo ul {
    padding-left: 0%;
  }
  .contenedor-quien img {
    width: 100%;
  }
  .contenedor-quien .contenido-texto p {
    margin: 60px 0px;
  }
  .contenedor-quien .contenedor-info p {
    margin: 60px 0px;
  }
  .viajes .contenedor img {
    width: auto;
    height: auto;
    max-width: 700px;
    max-height: 500px;
  }
}

/*# sourceMappingURL=estilo.css.map */
